body{
    background-color: black;
    text-align: center;
    background-image: url("image/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

marquee{
    color: pink;
    text-align: center;
}

footer {
    color: pink;
}